[submodule "chhayaphotography"]
	path = chhayaphotography
	url = https://github.com/chhayaphotography/chhayaphotography.github.io.git
[submodule "ajayadahal"]
	path = ajayadahal
	url = https://github.com/ajayadahal/ajayadahal.github.io.git
[submodule "sanz-the-nanny"]
	path = sanz-the-nanny
	url = https://github.com/sanz-the-nanny/sanz-the-nanny.github.io.git
[submodule "magnetmomentsco"]
	path = magnetmomentsco
	url = https://github.com/magnetmomentsco/magnetmomentsco.github.io.git
[submodule "test-biz"]
	path = test-biz
	url = https://github.com/ajayadesign/test-biz.git
[submodule "e2e-test-sunrise-bakery"]
	path = e2e-test-sunrise-bakery
	url = https://github.com/ajayadesign/e2e-test-sunrise-bakery.git
[submodule "aj-loves-sanskriti"]
	path = aj-loves-sanskriti
	url = https://github.com/ajayadesign/aj-loves-sanskriti.git
