[submodule "chhayaphotography"]
	path = chhayaphotography
	url = https://github.com/chhayaphotography/chhayaphotography.github.io.git
[submodule "ajayadahal"]
	path = ajayadahal
	url = https://github.com/ajayadahal/ajayadahal.github.io.git
[submodule "sanz-the-nanny"]
	path = sanz-the-nanny
	url = https://github.com/sanz-the-nanny/sanz-the-nanny.github.io.git
[submodule "magnetmomentsco"]
	path = magnetmomentsco
	url = https://github.com/magnetmomentsco/magnetmomentsco.github.io.git
[submodule "sunrise-bakery"]
	path = sunrise-bakery
	url = https://github.com/ajayadesign/sunrise-bakery.git
